{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {
    "expect": "readonly"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-dynamic-require": 0,
    "node/no-unpublished-require": 0,
    "no-console": "off",
    "consistent-return": "off",
    "array-callback-return": "off",
    "node/no-unsupported-features/node-builtins": 0
  },
  "plugins": [
    "prettier",
    "jest",
    "node"
  ]
}
