{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {},
  "rules": {
    "prettier/prettier": "error",
    "import/no-dynamic-require": 0
  },
  "plugins": [
    "prettier",
    "jest",
    "security",
    "node"
  ]
}
