{
  "extends": ["eslint:recommended", "plugin:node/recommended",  "plugin:prettier/recommended", "prettier", "airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": []
}
